.container {
    height: 200px;
    width: 350px;
    background-color: #3c3c3c;
    overflow-y: auto;
    
    /* hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  /* hide scrollbar for chrome, safari and opera */
  .container::-webkit-scrollbar {
    display: none;
  }
  
  .container p {
    padding: 20px;
  }




